*
{
    margin: 0 auto;
    padding: 0 auto;
    /* background-color: rgb(245, 243, 243); */

}
body
{
    display: block;
    background-color: rgb(245, 243, 243);
}
.wrapper
{
    width: 1100px;
}
 .all-buttons ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    
}
.all-buttons i
{
    padding-right: 8px;
    /* background-color:#2cc185; */
    background-color: transparent;
    
}

 .all-buttons 
{
    display: block;
	color: rebeccapurple;
	font-family: sans-serif;
	font-size: 16px;

	font-weight: normal;
	text-decoration: none;
    text-align: center;
    
    
} 
.all-buttons button:hover
{
    background-color: white;
    border: 1px solid white;
    transition: 0.5s ease-in-out;
    /* transition: 0.4 ease-out; */
}
 /* .active
{
    background-color: white!important;
} */
.all-buttons button
{
    background-color:#2cc185;
    padding: 25px 50px;
    border-radius: 5px;
    border: 1px solid transparent;
    clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
    /* transform: skewX(45deg); */
}
/* .all-buttons button:focus
{
    background-color: white;
} */
.display-text
{
    display: none;
}

.all-buttons
{
    padding-top: 80px;
}
.active
{
    background-color: white!important;
}
.whole-text
{
    text-align: center;
    padding-top: 85px;
    background-color: rgb(255, 254, 254);
    width: 85%;
    height: 300px;
    

}

.display-text
{
     color: gray;
     background-color: white;
     opacity: 0.5;
     font-size: 75px;
     width: 90%;
}
#first
{
    display: block;
}
