* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
  width: 100%;
 height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1400px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #017dfb;
  text-decoration: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 32%;
  padding: 16px;
  font-size: 30px;
  color: white;
  transition: 2s ease-in-out;
  user-select: none;
}

.next {
  right: 0;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-images {
  display: none;
}
.active {
  display: block;
}


.slider-images img {
  height: 500px;
  width: 500px;
}

.dot{
  padding: 10px;
  width: 10px;
  margin: 10px;
  background-color: rgba(5, 5, 5, 0.76);
  top: 0;
  text-decoration: none;
  border-radius: 50%;
  border: none;
  display: inline;
  cursor: pointer;
}
.dots {
  text-align: center;
}

.show{
  background-color: black;
}

.buttons button
{
  width: 15%;
  height: 50px;
  background-color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
}


